# This file may be used to create an environment using:=
# $ conda create --name <env> --file <this file>=
# platform: osx-64=
asttokens=2.0.5
backcall=0.2.0
bzip2=1.0.8
ca-certificates=2023.08.22
decorator=5.1.1
executing=0.8.3
ipython=8.15.0
jedi=0.18.1
libffi=3.4.4
matplotlib-inline=0.1.6
ncurses=6.4
openssl=1.1.1w
parso=0.8.3
pexpect=4.8.0
pickleshare=0.7.5
pip=23.3.1
prompt-toolkit=3.0.36
ptyprocess=0.7.0
pure_eval=0.2.2
pygments=2.15.1
python=3.11.0
readline=8.2
setuptools=68.0.0
six=1.16.0
sqlite=3.41.2
stack_data=0.2.0
tk=8.6.12
traitlets=5.7.1
wcwidth=0.2.5
wheel=0.41.2
xz=5.4.5
zlib=1.2.13
